In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#Data Preprocessing
results_df = pd.read_csv('Archive (4)\\results.csv')
results_df.head()

   resultId  raceId  driverId  ...  fastestLapTime fastestLapSpeed  statusId
0         1      18         1  ...        1:27.452         218.300         1
1         2      18         2  ...        1:27.739         217.586         1
2         3      18         3  ...        1:28.090         216.719         1
3         4      18         4  ...        1:28.603         215.464         1
4         5      18         5  ...        1:27.418         218.385         1

[5 rows x 18 columns]

In [11]:
 # Rename to avoid conflict in merge
results_df.rename(columns={
    'raceId': 'raceId_results',        
    'driverId': 'driverId_results',     
    'constructorId': 'constructorId_results' 
}, inplace=True)
results_df.head()

   resultId  raceId_results  ...  fastestLapSpeed  statusId
0         1              18  ...          218.300         1
1         2              18  ...          217.586         1
2         3              18  ...          216.719         1
3         4              18  ...          215.464         1
4         5              18  ...          218.385         1

[5 rows x 18 columns]

In [13]:
missing_data = results_df.isnull().sum()
print(missing_data)
print(results_df.isin(['NA', 'N/A', 'None', '']).sum())

resultId                 0
raceId_results           0
driverId_results         0
constructorId_results    0
number                   0
grid                     0
position                 0
positionText             0
positionOrder            0
points                   0
laps                     0
time                     0
milliseconds             0
fastestLap               0
rank                     0
fastestLapTime           0
fastestLapSpeed          0
statusId                 0
dtype: int64
resultId                 0
raceId_results           0
driverId_results         0
constructorId_results    0
number                   0
grid                     0
position                 0
positionText             0
positionOrder            0
points                   0
laps                     0
time                     0
milliseconds             0
fastestLap               0
rank                     0
fastestLapTime           0
fastestLapSpeed          0
statusId                 0
dtype: int64

In [14]:
duplicates = results_df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [15]:
import pandas as pd

print(results_df.isnull().sum())

print(results_df.isin(['NA', 'N/A', 'None', '']).sum())

results_df['time'] = pd.to_numeric(results_df['time'], errors='coerce')
results_df['milliseconds'] = pd.to_numeric(results_df['milliseconds'], errors='coerce')
results_df['fastestLapTime'] = pd.to_numeric(results_df['fastestLapTime'], errors='coerce')

results_df = results_df.dropna(subset=['time', 'milliseconds'])

print(results_df.isnull().sum())

resultId                 0
raceId_results           0
driverId_results         0
constructorId_results    0
number                   0
grid                     0
position                 0
positionText             0
positionOrder            0
points                   0
laps                     0
time                     0
milliseconds             0
fastestLap               0
rank                     0
fastestLapTime           0
fastestLapSpeed          0
statusId                 0
dtype: int64
resultId                 0
raceId_results           0
driverId_results         0
constructorId_results    0
number                   0
grid                     0
position                 0
positionText             0
positionOrder            0
points                   0
laps                     0
time                     0
milliseconds             0
fastestLap               0
rank                     0
fastestLapTime           0
fastestLapSpeed          0
statusId                 0
dtype: int64
resultId                    0
raceId_results              0
driverId_results            0
constructorId_results       0
number                      0
grid                        0
position                    0
positionText                0
positionOrder               0
points                      0
laps                        0
time                        0
milliseconds                0
fastestLap                  0
rank                        0
fastestLapTime           4359
fastestLapSpeed             0
statusId                    0
dtype: int64

In [19]:
# Check how many NaN values there are in 'fastestLapTime'
missing_values = results_df['fastestLapTime'].isnull().sum()
print(f'Missing values in "fastestLapTime": {missing_values}')

Missing values in "fastestLapTime": 4359

In [20]:
# Check the number of rows and columns in the dataset
num_rows, num_columns = results_df.shape
print(f'The dataset has {num_rows} rows and {num_columns} columns.')

The dataset has 4359 rows and 18 columns.

In [21]:
# Check for missing values in all columns
missing_values = results_df.isnull().sum()

# Display the columns with missing values
print(missing_values[missing_values > 0])

fastestLapTime    4359
dtype: int64

In [22]:
# Check for missing values in all columns
missing_values = results_df.isnull().sum()

# Display columns with missing values
print(missing_values[missing_values > 0])

fastestLapTime    4359
dtype: int64

In [23]:
# Check rows with missing fastestLapTime and inspect related columns
missing_fastest_lap_time = results_df[results_df['fastestLapTime'].isnull()]
print(missing_fastest_lap_time.head())  # Display first few rows

    resultId  raceId_results  ...  fastestLapSpeed  statusId
1          2              18  ...          217.586         1
2          3              18  ...          216.719         1
3          4              18  ...          215.464         1
4          5              18  ...          218.385         1
23        24              19  ...          208.033         1

[5 rows x 18 columns]

In [24]:
# Check for missing values in the dataset
results_df['fastestLapSpeed'].isnull().sum()

np.int64(0)

In [26]:
import pandas as pd

# Load the races.csv file
races_df = pd.read_csv('Archive (4)\\races.csv')

# Display the first few rows and the columns to understand its structure
races_df.head(), races_df.columns

(   raceId  year  round  circuitId  ... quali_date quali_time sprint_date sprint_time
 0       1  2009      1          1  ...         \N         \N          \N          \N
 1       2  2009      2          2  ...         \N         \N          \N          \N
 2       3  2009      3         17  ...         \N         \N          \N          \N
 3       4  2009      4          3  ...         \N         \N          \N          \N
 4       5  2009      5          4  ...         \N         \N          \N          \N

 [5 rows x 18 columns],
 Index(['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url',
        'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time',
        'quali_date', 'quali_time', 'sprint_date', 'sprint_time'],
       dtype='object'))

In [28]:
races_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1125 non-null   int64
 1   year         1125 non-null   int64
 2   round        1125 non-null   int64
 3   circuitId    1125 non-null   int64
 4   name         1125 non-null   object
 5   date         1125 non-null   object
 6   time         1125 non-null   object
 7   url          1125 non-null   object
 8   fp1_date     1125 non-null   object
 9   fp1_time     1125 non-null   object
 10  fp2_date     1125 non-null   object
 11  fp2_time     1125 non-null   object
 12  fp3_date     1125 non-null   object
 13  fp3_time     1125 non-null   object
 14  quali_date   1125 non-null   object
 15  quali_time   1125 non-null   object
 16  sprint_date  1125 non-null   object
 17  sprint_time  1125 non-null   object
dtypes: int64(4), object(14)
memory usage: 158.3+ KB

In [29]:
races_df.isnull().sum()

raceId         0
year           0
round          0
circuitId      0
name           0
date           0
time           0
url            0
fp1_date       0
fp1_time       0
fp2_date       0
fp2_time       0
fp3_date       0
fp3_time       0
quali_date     0
quali_time     0
sprint_date    0
sprint_time    0
dtype: int64

In [30]:
races_df.to_excel("race.xlsx")